<main class="main-content">
  <div class="nav-options">
    <%= form_tag root_path, method: :get, class: 'filters' do %>
    <fieldset class="filters__search">
      <div class="filters__items">
        <legend>Busca</legend>
        <div class="filters__item">
          <label class="hide-visually" for="busca">Busca</label>
          <input type="search" id="busca" name="q">
        </div>
        <div class="filters__item">
          <button type="submit" class="button-submit">Buscar</button>
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>
  <section>
    <ul class="products-list">
      <% @products.each do |product| %>
      <li class="products-list__item">
        <span class="tag-off">Off</span>
        <%= image_tag product.image, alt: product.name %>
        <h3 class="products-list__title"><%=product.name %></h3>
        <div class="products-list__price">
          <s><%=number_to_currency product.last_payment.value%></s>
          <strong><%=product.last_payment.number_of_installments%> x
            <%=number_to_currency product.last_payment.installment_value%></strong>
        </div>
        <span class="products-list__installments"><%= product.store.name %></span>
      </li>
      <% end %>
    </ul>
  </section>
  <section>
    <%= will_paginate @products %>
  </section>
</main>
